@charset "UTF-8";
input, select {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
}

.container_flex {
  display: flex;
}

/* HEADER
 * */
.header_top {
  border-bottom: 1px solid #cdcdcc;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}
.header_top .container_flex {
  align-items: center;
  padding: 25px 30px;
}

.logo a {
  color: #222222;
  display: flex;
  font-family: "Lato Light", sans-serif;
  font-size: 27px;
  line-height: 51px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}
.logo img {
  margin-right: 10px;
}
.logo span {
  color: #f16d7f;
  font-family: "Lato - Black", sans-serif;
  font-weight: 400;
}

.searchForm ul {
  display: flex;
  margin-left: 30px;
  list-style-type: none;
  padding: 0;
}
.searchForm li input {
  border: 1px solid #cdcdcc;
  height: 40px;
  padding: 0 15px;
}
.searchForm li:first-child input {
  background-color: #cdcdcc;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  border-right: none;
}
.searchForm li:last-child input {
  background-color: transparent;
  border-left: none;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 16px;
  padding: 11px;
  width: 16px;
}

.cart {
  height: 30px;
  margin-left: auto;
  width: 34px;
}
.cart a {
  display: block;
}

.account {
  margin-left: 30px;
}
.account a {
  background-color: #f16d7f;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 15px;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
}
.account a span:after {
  content: url("../images/icons/whiteArrow.png");
  padding-left: 5px;
}

.mainMenu ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.mainMenu__item_active {
  border-bottom: 3px solid #f16d7f;
}
.mainMenu a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #222222;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.mainMenu a:hover, .mainMenu a__item_active {
  border-bottom: 3px solid #f16d7f;
}

/*  FOOTER
 * */
.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer_top__desc {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 40%;
  padding-right: 15px;
}
.footer_top__desc p {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
}
.footer_top__desc .logo {
  margin-bottom: 30px;
}
.footer_top__nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
}
.footer_top__nav:last-child {
  padding: 0;
}
.footer_top__nav ul {
  list-style: none;
  padding: 0;
}
.footer_top__nav li {
  margin-bottom: 20px;
}
.footer_top__nav__title {
  font-size: 18px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #f16d7f;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.footer_top__nav a {
  font-size: 16px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  text-decoration: none;
}
.footer_bg {
  background: #cdcdcc;
}
.footer_bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer_bottom__copyright {
  font-size: 16px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  color: #898989;
  font-family: Lato, sans-serif;
  font-size: 16px;
}
.footer_bottom__social {
  display: flex;
}
.footer_bottom__social__item {
  margin-left: 10px;
}
.footer_bottom__social__item a {
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: #ffffff;
  display: block;
  height: 30px;
  position: relative;
  width: 30px;
}
.footer_bottom__social__item a:hover {
  background: #f16d7f;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.footer_bottom__social__item i {
  color: #4d4d4d;
  line-height: 30px;
  text-align: center;
  width: 100%;
}

/* MAIN PAGE
 * */
.s_banner, .s_categoriesBlocks, .s_items, .s_bannerBottom, .s_feedback, .s_arrivalsDesc, .s_also, .s_shipping, .s_cartPage {
  margin-bottom: 80px;
}

.banner__bg {
  background-color: #e8e8e8;
}

.banner {
  height: 500px;
  position: relative;
}
.banner img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.banner__text {
  border-left: #f16d7f 6px solid;
  color: #222222;
  font-family: "Lato - Black", sans-serif;
  font-size: 30px;
  left: 0;
  padding-left: 10px;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner__text_big {
  font-size: 40px;
}
.banner__text_pink {
  color: #f16d7f;
}

.coverImg, .categoriesBlocks_big img, .categoriesBlocks_small img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.categoriesBlocks {
  font-size: 0;
}
.categoriesBlocks a {
  display: block;
  height: 100%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100%;
  text-decoration: none;
}
.categoriesBlocks_big {
  display: inline-block;
  height: 540px;
  margin-bottom: 20px;
  position: relative;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 49%;
}
.categoriesBlocks_small {
  display: inline-block;
  height: 260px;
  margin-bottom: 20px;
  position: relative;
  width: 49%;
}
.categoriesBlocks_big:first-child, .categoriesBlocks_small:nth-child(3) {
  float: left;
  margin-right: 2%;
}
.categoriesBlocks_big a:hover, .categoriesBlocks_small a:hover {
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.categoriesBlocks__text {
  background-color: #ffffff;
  color: #222222;
  font-family: "Lato - Black", sans-serif;
  font-size: 18px;
  left: 0;
  padding: 15px;
  position: absolute;
  text-transform: uppercase;
  top: 20px;
}
.categoriesBlocks__text span {
  color: #f16d7f;
  font-size: 30px;
}

.itemWrapper {
  font-size: 0;
}
.itemWrapper h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  margin-bottom: 15px;
  text-align: center;
}
.itemWrapper span {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  display: block;
  margin-bottom: 60px;
  text-align: center;
}

.items__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  margin-bottom: 40px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 22%;
}
.item a {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  display: block;
  margin-bottom: 15px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.item__price {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #f16d7f;
  padding: 0 15px 20px;
}
.item:nth-child(4n) {
  margin-right: 0;
}
.item:hover {
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.item__img {
  height: 280px;
  margin-bottom: 20px;
  position: relative;
}
.item__img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.item__img a {
  left: 50%;
  position: absolute;
  top: 40%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60%;
}
.item__img span {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #ffffff;
  margin: 0;
  opacity: 0;
  padding: 15px 0;
  vertical-align: middle;
}
.item__img span:before {
  content: url("../images/icons/whiteCart.png");
  vertical-align: middle;
  margin-right: 10px;
}
.item__img__cart {
  background-color: #4d4d4d;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.item:hover .item__img__cart {
  opacity: 70%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.item:hover .item__img span {
  opacity: 100%;
}
.item:hover .item__img a {
  border: 1px solid #ffffff;
}

.items__link {
  text-align: center;
}
.items__link a {
  background-color: #f16d7f;
  display: inline-block;
  text-decoration: none;
}
.items__link span {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 20px 25px;
}
.items__link span:after {
  content: "→";
  padding-left: 10px;
}

.bannerBottom {
  font-size: 0;
}
.bannerBottom_left {
  display: inline-block;
  height: 530px;
  position: relative;
  width: 60%;
}
.bannerBottom_left img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.bannerBottom_left__text {
  font-size: 30px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #ffffff;
  left: 40px;
  position: absolute;
  text-transform: uppercase;
  top: 20%;
}
.bannerBottom_left__text_big {
  font-size: 40px;
}
.bannerBottom_left__text_big span {
  color: #f16d7f;
}
.bannerBottom_right {
  background-color: #222222;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 530px;
  padding: 30px;
  vertical-align: top;
  width: 40%;
}
.bannerBottom_right__item {
  margin-bottom: 40px;
}
.bannerBottom_right__item__icon {
  display: inline-block;
  margin-right: 5%;
  width: 20%;
  vertical-align: middle;
}
.bannerBottom_right__item__text {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
}
.bannerBottom_right__item__text h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.bannerBottom_right__item__text p {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #ffffff;
  line-height: 25px;
}

.quality__item h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #ffffff;
}
.quality__item p {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #ffffff;
  line-height: 25px;
}

.s_feedback {
  background: url("../images/main/feedbackBg.png");
  background-size: cover;
  height: 440px;
}

.feedback {
  font-size: 0;
}
.feedback_half {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 440px;
  position: relative;
  width: 50%;
}
.feedback_half:first-child {
  border-right: 1px solid #ffffff;
}
.feedback__item {
  padding-right: 50px;
  position: absolute;
  top: 100px;
}
.feedback__item__img {
  display: inline-block;
  margin-right: 5%;
  vertical-align: top;
  width: 20%;
}
.feedback__item__img img {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  height: 80px;
  width: 80px;
}
.feedback__item__text {
  font-size: 16px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  display: inline-block;
  font-style: italic;
  width: 75%;
}
.feedback__item__name {
  font-size: 14px;
  font-weight: normal;
  font-family: "Lato Light", sans-serif;
  color: #222222;
  margin-top: 20px;
}
.feedback__item__name span {
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato - Bold", sans-serif;
  color: #f16d7f;
}

.formSubscribe {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  padding: 0 50px;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.formSubscribe__title {
  font-size: 24px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}
.formSubscribe__desc {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}
.formSubscribe form {
  display: flex;
}
.formSubscribe form ul {
  width: 100%;
}
.formSubscribe li:first-child {
  display: inline-block;
  width: 70%;
}
.formSubscribe li:last-child {
  display: inline-block;
  width: 30%;
}
.formSubscribe input {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 30px;
}
.formSubscribe input[type=text] {
  background-color: #cdcdcc;
  -webkit-border-radius: 25px 0 0 25px;
  -moz-border-radius: 25px 0 0 25px;
  border-radius: 25px 0 0 25px;
  width: 100%;
}
.formSubscribe input[type=submit] {
  background-color: #f16d7f;
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  border-radius: 0 25px 25px 0;
  color: #ffffff;
  width: 100%;
}

/*  SINGLE PAGE
 * */
.s_breadcrumbs {
  background-color: #f8f3f4;
  margin-bottom: 0;
}

.breadcrumbs__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 65px 0;
}
.breadcrumbs__wrapper h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #4d4d4d;
  margin: 0;
}
.breadcrumbs ul {
  display: flex;
  list-style: none;
  margin: 0;
}
.breadcrumbs__item {
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato - Bold", sans-serif;
  color: #f16d7f;
  text-transform: uppercase;
  padding-left: 10px;
}
.breadcrumbs__item:after {
  color: #898989;
  content: "/";
}
.breadcrumbs__item:last-child:after {
  content: none;
}
.breadcrumbs__item a {
  font-size: 14px;
  font-weight: 300;
  font-family: Lato, sans-serif;
  color: #898989;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.s_arrivalsSlider {
  background-color: #f7f7f7;
  margin-bottom: 0;
}

.arrivalsSlider {
  margin: 0 auto;
  text-align: center;
}
.arrivalsSlider img {
  height: 700px;
  margin-bottom: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  width: auto;
  z-index: 1;
  max-width: 100%;
}

.arrivalsDesc {
  background-color: #ffffff;
  border: 1px solid #cdcdcc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -80px;
  padding: 70px;
  position: relative;
  text-align: center;
  z-index: 2;
}
.arrivalsDesc_gender {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #f16d7f;
  border-bottom: 1px solid #cdcdcc;
  display: inline-block;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.arrivalsDesc__title {
  font-size: 18px;
  font-weight: normal;
  font-family: "Lato - Black", sans-serif;
  color: #darkGrey;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.arrivalsDesc p {
  font-size: 14px;
  font-weight: 300;
  font-family: Lato, sans-serif;
  color: #darkGrey;
  line-height: 24px;
  margin: 0 auto 30px;
  max-width: 650px;
}
.arrivalsDesc__info {
  display: flex;
  margin: 0 auto 30px;
  max-width: 650px;
}
.arrivalsDesc__info__item {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  flex-grow: 1;
  line-height: 24px;
  margin-right: 20px;
  text-transform: uppercase;
}
.arrivalsDesc__info__item:last-child {
  margin-right: 0;
}
.arrivalsDesc__info__item span {
  color: #cdcdcc;
}
.arrivalsDesc__price {
  font-size: 24px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #f16d7f;
  margin-bottom: 40px;
}
.arrivalsDesc hr {
  background-color: #cdcdcc;
  border: none;
  height: 1px;
  margin-bottom: 70px;
  max-width: 650px;
}
.arrivalsDesc__properties ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 650px;
}
.arrivalsDesc__properties__item {
  margin: 0 50px 40px 0;
}
.arrivalsDesc__properties__item:last-child {
  margin-right: 0;
}
.arrivalsDesc__properties__item label {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  display: block;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
}
.arrivalsDesc__properties__item select, .arrivalsDesc__properties__item input {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: "Lato - Black", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  width: 150px;
}
.arrivalsDesc__properties__item input {
  color: #222222;
}
.arrivalsDesc__properties__item input[type=submit] {
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 700;
  max-width: 650px;
  width: 100%;
}
.arrivalsDesc__properties__item input[type=submit]:hover {
  cursor: pointer;
}
.arrivalsDesc__properties__item_nowrap {
  width: 100%;
}

.also h2 {
  font-size: 20px;
  font-weight: normal;
  font-family: "Lato - Black", sans-serif;
  color: #4d4d4d;
  line-height: 1;
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
}

.item span {
  display: block;
  text-align: center;
}

/*  PRODUCT PAGE
 * */
.catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.catalog_left {
  padding-right: 50px;
  width: 15%;
}
.catalog_left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideMenu__list__title {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #f16d7f;
  border-bottom: 1px solid #cdcdcc;
  border-left: #f16d7f 3px solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.sideMenu__list__items li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-left: 25px;
}
.sideMenu__list__items li a {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  display: inline-block;
  text-decoration: none;
}

.catalog_right {
  width: 85%;
}
.catalog_right__filter {
  display: flex;
  justify-content: space-between;
}
.catalog_right__filter__item {
  width: 30%;
}
.catalog_right__filter__item__title {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #898989;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.catalog_right__filter__item__properties__list {
  display: flex;
  flex-wrap: wrap;
}
.catalog_right__filter__item__properties__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog_right__filter__item__properties__list li {
  line-height: 30px;
}
.catalog_right__filter__item__properties__list a {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  line-height: 26px;
  text-decoration: none;
}
.catalog_right__filter__item__price {
  display: flex;
  justify-content: space-between;
}
.catalog_right__filter__item__price__value {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  line-height: 30px;
}
.catalog_right__sort {
  background-color: #ffffff;
  display: flex;
}
.catalog_right__sort__item {
  display: flex;
  margin-right: 10px;
  padding: 10px 10px 10px 0;
}
.catalog_right__sort__item__name, .catalog_right__sort__item__value {
  background-color: #f7f7f7;
  border: 1px solid #cdcdcc;
  padding: 0 10px;
}
.catalog_right__sort__item__name a:after, .catalog_right__sort__item__value a:after {
  content: url("../images/icons/arrow-bottom.png");
  margin-left: 10px;
}
.catalog_right__sort__item__name {
  border-right: none;
}
.catalog_right__sort__item__name, .catalog_right__sort__item__value a {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  display: block;
  line-height: 26px;
  text-decoration: none;
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tags li:after {
  content: "|";
  margin: 0 10px;
}
.tags li:last-child:after {
  content: none;
}

.sizes {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sizes li {
  margin-right: 25px;
}
.sizes li label {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
  line-height: 26px;
}

.temp {
  line-height: 30px;
}

.product {
  margin-bottom: 40px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 32%;
}
.product span {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #ffffff;
  display: block;
  text-align: center;
}
.product a {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  display: block;
  margin-bottom: 15px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.product:hover {
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.product:hover .item__img__cart {
  opacity: 70%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.product:hover .item__img span {
  opacity: 100%;
}
.product:hover .item__img a {
  border: 1px solid #ffffff;
}

.items__paging {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.items__paging__numbs {
  border: 1px solid #ffffff;
}
.items__paging__numbs ul {
  display: flex;
}
.items__paging__numbs a, .items__paging__numbs li {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #cdcdcc;
  display: block;
  line-height: 26px;
  padding: 5px;
  text-decoration: none;
}
.items__paging__numbs li {
  line-height: 36px;
}
.items__paging__numbs li:first-child a, .items__paging__numbs li:last-child a {
  color: #f16d7f;
}
.items__paging__numbs a:hover {
  color: #f16d7f;
}
.items__paging__link a {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  line-height: 26px;
  padding: 10px 40px;
  text-decoration: none;
}

.s_quality {
  background-color: #222222;
  margin-bottom: 0;
}

.quality {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}
.quality__item {
  margin-right: 50px;
  text-align: center;
}
.quality__item:last-child {
  margin-right: 0;
}
.quality__item h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

/*  CHECKOUT PAGE
 * */
.s_shipping {
  padding-top: 80px;
}

.localTitle {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
}

.shipping {
  padding: 30px;
  display: flex;
}
.shipping_half {
  width: 50%;
  padding-right: 50px;
}
.shipping_half__title {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.shipping_half__desc {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
}
.shipping_half ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}
.shipping_half li:first-child {
  margin-bottom: 20px;
}
.shipping_half label {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  text-transform: uppercase;
}
.shipping_half label span {
  color: #ff0d0d;
}
.shipping_half__list li {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
}
.shipping_half input[type=submit] {
  background: none;
  border: 1px solid #898989;
  padding: 15px 50px;
  text-transform: uppercase;
}
.shipping_half input[type=text] {
  width: 390px;
  height: 45px;
  border: 1px solid #898989;
  display: block;
  margin-top: 10px;
}
.shipping_half_red {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #ff0d0d;
  margin-bottom: 20px;
}
.shipping_half a {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  text-decoration: none;
  margin-left: 30px;
}

.rightList {
  margin-bottom: 10px;
}

/* CART PAGE
 * */
.cartPage table {
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  border-collapse: collapse;
  margin-bottom: 40px;
}
.cartPage table td {
  border-bottom: 1px solid #898989;
  text-align: center;
  padding: 20px 0;
}
.cartPage table td:first-child, .cartPage table td:nth-child(2) {
  text-align: left;
}
.cartPage__list {
  width: 100%;
}
.cartPage__list__title td {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
}
.cartPage__list__title td:nth-child(2) {
  text-align: center !important;
}
.cartPage__list__item {
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
}
.cartPage__list__item img {
  width: 100px;
}
.cartPage__list__item__title {
  font-size: 14px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.cartPage__list__item__prop span {
  color: #222222;
  font-weight: bold;
}
.cartPage__list__item input {
  width: 60px;
  text-align: center;
  padding: 10px;
}
.cartPage__list__item a {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
}
.cartPage__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.cartPage__forms {
  display: flex;
  justify-content: space-between;
}
.cartPage__form {
  width: 31%;
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  text-transform: uppercase;
}
.cartPage__form ul {
  list-style: none;
  padding: 0;
}
.cartPage__form li {
  margin-bottom: 20px;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
}
.cartPage__form input, .cartPage__form select {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
}
.cartPage__form input[type=submit] {
  font-weight: bold;
  background: none;
  border: 1px solid #898989;
  padding: 15px 15px;
  text-transform: uppercase;
  width: auto;
}
.cartPage__form_grey {
  background: #f7f7f7;
  text-align: right;
  padding: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cartPage__form_grey .subTotal {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #222222;
  margin-bottom: 20px;
}
.cartPage__form_grey .grandTotal {
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #222222;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.cartPage__form_grey .grandTotal span {
  color: #f16d7f;
}
.cartPage__form_grey hr {
  margin-bottom: 20px;
  border: none;
  background: #898989;
  height: 1px;
}

.pinkBtn {
  background: #f16d7f;
  font-size: 16px;
  font-weight: bold;
  font-family: Lato, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.buttonGrey {
  background: none;
  border: 1px solid #898989;
  padding: 15px 50px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-family: Lato, sans-serif;
  color: #898989;
}

/*# sourceMappingURL=style.css.map */
